@model MovieLibraryEpicOne.Models.Director;
@{
    ViewData["Title"] = "DirectorInfo";
}

@{
    <br />
        <h4>Name:  @Model.Name</h4>
        <br />
        <h4>Lastname:  @Model.Lastname</h4>
        <br />
        <h4>Birthday:  @Model.BirthDate.Year/@Model.BirthDate.Month/@Model.BirthDate.Day</h4>
        <br />
        <h4>Rating:  @Model.Rating</h4>
        <br />
        <img src="@Model.Portrait" style="float:left; height:50%; width:50%;">
        <h3>Movies</h3>
        <div class="row" style="float:inline-end">
            @foreach (Movie movie in Model.Movies)
            {
                <div class="col-md-4" style="margin-bottom:10px;">
                    <div class="card">
                        <img src="@movie.Poster" height="25%" width="25%" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Name</h5>
                            <a class="btn btn-primary" asp-area="" asp-controller="Movie" asp-action="View" asp-route-id="@movie.Id">More about</a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            }
        </div>
}
